

@{

    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}




<div>
    <a asp-controller="Participant" asp-action="ListUsers" class=" btn btn-danger"> View All Participants</a>
    <a asp-controller="Participant" asp-action="ListP1Users" class=" btn btn-danger"> View P1 Participants</a>
    <a asp-controller="Participant" asp-action="ListP2Users" class=" btn btn-danger"> View P2 Participants</a>
    <a asp-controller="Participant" asp-action="ListP2AUsers" class=" btn btn-danger"> View Phase 2 A</a>
    <a asp-controller="Participant" asp-action="ListP2BUsers" class=" btn btn-danger"> View Phase 2 B</a>
</div>
<div>
    @RenderBody()
</div>
