
<h1>Index</h1>


<div class="card mb-3">
    <div class=" = " card-header>
        
    </div>
    <div class="card-body">
        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary mb-3" style="width:auto">
            Add New User
        </a>
    </div>
    <div class="card-footer">
        <a href="#" class=" = " btn btn-danger">Edit</a> |
        <a href="#" class=" = " btn btn-danger">Delete</a>
    </div>
</div>

<div class="card mb-3">
    <div class=" = " card-header>

    </div>
    <div class="card-body">
        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary mb-3" style="width:auto">
            Add New User
        </a>
    </div>
    <div class="card-footer">
        <a href="#" class=" = " btn btn-danger">Edit</a> |
        <a href="#" class=" = " btn btn-danger">Delete</a>
    </div>
</div>

<div class="card mb-3">
    <div class=" = " card-header>

    </div>
    <div class="card-body">
        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary mb-3" style="width:auto">
            Add New User
        </a>
    </div>
    <div class="card-footer">
        <a href="#" class=" = " btn btn-danger">Edit</a> |
        <a href="#" class=" = " btn btn-danger">Delete</a>
    </div>
</div>

<div class="card mb-3">
    <div class=" = " card-header>

    </div>
    <div class="card-body">
        <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-primary mb-3" style="width:auto">
            Add New User
        </a>
    </div>
    <div class="card-footer">
        <a href="#" class=" = " btn btn-danger">Edit</a> |
        <a href="#" class=" = " btn btn-danger">Delete</a>
    </div>
</div>