
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>


<img src="~/images/nursing_informatics.jpg" height="400"  class="img-responsive" />

<h3>@ViewData["Message"]</h3>

<p><br>
    Nursing education in Australia currently teaches undergraduate nursing students’ basic digital literacy skills but is yet to
    implement e-health literacy, such as health informatics, into the undergraduate Bachelor of Nursing curricula.</p>
<p>
    The purpose of this project is to:
    <br>
    • To develop a contemporary digital literacy and health informatics skills competency framework which addresses nursing
    students’ digital literacy skills gap.
    <br>
    • Inform educators of curriculum changes required to successfully bridge the knowledge and skills gap related to digital literacy
    and health informatics of the future nurse workforce.
    <br>
    • To equip undergraduate nursing students with the appropriate graduate attributes which prepares them for the digitalised
    workforce.
    </p>
<p>
    This is a mixed method project which has a qualitative (phase 1) and quantitative approach (phase 2)
    Phase 2 consists of cohort A ( intervention group) and cohort B (control group </p>
