
@{
    ViewData["Title"] = "Participate";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Participate</title>
    <link href="~/css/index.css" rel="stylesheet" />
</head>
<body>
    <div id="welcome" class="text-center">
        <h1 style="color: #800000;" class="display-4">@ViewData["Title"]</h1>
    </div>
    <div id="border">
        <img src="~/images/participate.jpg" height="400" class="img-responsive" />
        <br>
        <br>
        <br>
        <br>
        <h2 style="color: #800000;">Sorry</h2>
        <p style="font-family: Verdana, sans-serif; font-size: 25px; color: #808080;">
            The survey is <u>closed</u> for now!
        </p>
        <br>
        <br>
        <br>
        <hr style="margin-left: 150px; margin-right: 150px; margin-top: 30px; margin-bottom: 30px;">
        <p style="font-family: Verdana, sans-serif; font-size: 15px; color: #808080;">
            For further information on the program, please refer to About Page (Above) or contact Annette Stunden by email at <a href="mailto:A.Stunden@westernsydney.edu.au">A.Stunden@westernsydney.edu.au</a>
        </p>
    </div>

</body>
</html>