
@{
    ViewData["Title"] = "Researchers";
}

<h2>@ViewData["Title"]</h2>
 <link rel="stylesheet" href="~/css/research.css" />
 <div id="border">
     <div>

         <img src="~/images/anu_ginige.jpg" height="200" class="img-responsive" />
         <h1> Doctor Anupama Ginige</h1>
         <h5>Associate Dean, Engagement, Dean's Unit Computer, Data & Mathematical Sciences, Senior Lecturer In Health Informatics, Computer And Ict</h5>

         <p>
             <br>
             As a senior lecturer, within the School of Computing, Engineering and Mathematics; I am teaching,
             managing projects and conducting applied research in areas that bring together IT and other sectors such as health and manufacturing.

             I started as an IT researcher in 2003, exploring cascading effects of organisational process changes in IT systems.
             I used Klnee Algebra with Tests (KAT) to model the propogaing impact of process changes.
             The models created with KAT not only allowed understanding the propagating impact, but also to capture process and resource dependencies in a comprehensive manner.
             My in-depth knowledge related to process analysis was then applied to another project in manufacturing domain,
             which explored the process optimisations to reduce carbon footprint in manufacturing sector, which led to a successful PhD completion, under my spervision.
             Currently, I am researching on how process mining and machine learning techniques can be used in healthcare sector.

         </p><br>
     </div>
     <img src="~/images/ann_stunden.jpg" height="200" class="img-responsive" />

     <div>
         <h1>Ms Annette Stunden</h1>
         <h5>Lecturer,School Of Nursing And Midwifery</h5>
         <p>
             Annette has been employed at WSU since 2004 and has over 7+ years university teaching experience.
             She has over 15 years experience in critical care nursing and is still clinically current.

             She had an active role as a clinical facilitator for WSU for a period of 4 years.
             Her academic achievements include Foundation of Learning and Teaching,  Graduate Certificate in Critical Care Nursing,
             Masters in Clinical Leadership in Nursing and Masters in  Nursing Research.

             Annette currently unit coordinates an undergraduate first year clinical unit and is a first year STARS coordinator/advisor.
             Annette has been involved in the curriculum development of large teaching unit and worked closely with NSW Ministry of Health in embedding essential of care programs into the teaching curriculum.
         </p>

     </div>
 </div>
