
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card mb-3">
    <div class="card-header">
        Current Website Link
    </div>
    <div class="card-body">
        <h1 class="card-title"></h1>
    </div>
    <div class="card-footer">
        <a href="#" class=" btn btn-danger">Edit</a>
    </div>
</div>

<div class="card mb-3">
    <div class="card-header">
        Participate Phase
    </div>
    <div class="card-body">
        <h1 class="card-title"></h1>
    </div>
    <div class="card-footer">
        <a href="#" class=" btn btn-danger">Edit</a>
    </div>
</div>

