
@using Prototype.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers

@model IEnumerable<Prototype.Models.SiteData>
@{ 
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";

}




@foreach (var active in Model)
{
    @if (active.SiteData_Active == true)
    {
        @await Html.PartialAsync("_ActivePage", active)
    }
}

<div>
    @foreach (var item in Model)
    {
        <div>
            <a asp-controller="SiteData" asp-action="Edit" asp-route-id="@item.SiteDataId" class=" btn btn-danger"> @Html.DisplayFor(modelItem => item.SiteData_Name)</a>
        </div>
    }
</div>
